<nav id="navContainer" class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand-xs col-3" href="#">
        <img src="../../../assets/images/SEGC-logoDark.jpeg" class="card-img" alt="">
    </a>
    <div class="container-sm">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="nbar" style="background-color: #0D3360;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white fs-4 px-4" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#organigrama" class="nav-link active text-white fs-4 px-4">Organigrama</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active text-white fs-4 px-4">Capitulos Estudiantiles</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active text-white fs-4 px-4">Cursos</a>
                </li>
                <li class="nav-item">
                    <a href="#loNuevo" class="nav-link active text-white fs-4 px-4">Lo nuevo</a>
                </li>
                <li class="nav-item">
                    <a href="#sinergias" class="nav-link active text-white fs-4 px-4">Sinergias</a>
                </li>
                <li class="nav-item">
                    <a href="#contacto" class="nav-link active text-white fs-4 px-4">Contacto</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.geoilcompany.com" class="nav-link active text-white fs-4 px-4">Geoil Company</a>
                </li>
            </ul>
        </div>
    </div>
</nav>