<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="bd-placeholder-img" width="100%" height="100%" src="../../../assets/images/portada1.jpeg">
  
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Ejemplo de Cabecera.</h1>
              <p>Alguna descripcion</p>
              <p><a class="btn btn-lg btn-primary" href="#">Ingresar</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="bd-placeholder-img" width="100%" height="100%" src="../../../assets/images/portada2.jpeg">
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Otra cabecera.</h1>
              <p>descripcion</p>
              <p><a class="btn btn-lg btn-primary" href="#">Ver mas</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="bd-placeholder-img" width="100%" height="100%" src="../../../assets/images/portada3.jpeg">
  
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Otra cabecera.</h1>
              <p>descripcion.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Buscar</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
    
  
  
      <!-- START THE FEATURETTES -->
  
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading">Firma del convenio con el ITCH<span class="text-muted">Celebrado en ...</span></h2>
            <p class="lead">Se firmo convenio con el tecnologico, alianza que permite el crecimiento de la sociedad y del tecnologico haciendo mancuerna para futuros proyectos</p>
            </div>
            <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../../assets/images/convenio.jpeg">
    
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Capacitacion en campo <span class="text-muted">Lugar</span></h2>
            <p class="lead">Parte de los acuerdos en los convenios realizados es capacitar a los estudiantes en campo para mejorar sus competencias en el ambito laboral</p>
            </div>
            <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../../assets/images/cap1.jpeg">
    
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading">Capacitacion en campo <span class="text-muted">Lugar.</span></h2>
            <p class="lead">Parte de los acuerdos en los convenios realizados es capacitar a los estudiantes en campo para mejorar sus competencias en el ambito laboral</p>
            </div>
            <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../../assets/images/cap2.jpeg">  
            
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
  
      <!-- /END THE FEATURETTES -->
  
  </main>
  
  
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
        