<div class="container marketing" id="organigrama">
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-12">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/oscarSilva.jpeg">

      <h2>Oscar Silva</h2>
      <p>Presidente</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/oscarGuzman.jpeg">

      <h2>Oscar Guzman</h2>
      <p>Vicepresidente</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/Shareny.jpeg">

      <h2>Shareny</h2>
      <p>Coordinadora de capacitacion y consultoria</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/erick.jpg">

      <h2>Erick Sarmiento</h2>
      <p>Coordinador de ciencias y tecnologia</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/karla.jpeg">

      <h2>Karla Alejandro</h2>
      <p>Coordinadora de conferencias magistrales</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/lupitaAcosta.jpeg">

      <h2>Guadalupe Acosta</h2>
      <p>Coordinadora de administracion y finanzas</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/images/claudia.jpeg">

      <h2>Claudia Leon</h2>
      <p>Coordinadora de congresos y eventos</p>
      <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->